# Read Datasets and Import libraries

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import numpy as np
import pandas as pd
!unrar x /content/gdrive/My\Drive/data/anime.rar

UNRAR 5.61 beta 1 freeware      Copyright (c) 1993-2018 Alexander Roshal


Extracting from /content/gdrive/MyDrive/data/anime.rar

Extracting  anime.csv                                                      0%  1%  OK
Extracting  rating.csv                                                     1%  2%  3%  4%  5%  6%  7%  8%  9% 10% 11% 12% 13% 14% 15% 16% 17% 18% 19% 20% 21% 22% 23% 24% 25% 26% 27% 28% 29% 30% 31% 32% 33% 34% 35% 36% 37% 38% 39% 40% 41% 42% 43% 44% 45% 46% 47% 48% 49% 50% 51% 52% 53% 54% 55% 56% 57% 58% 59% 60% 61% 62% 63% 64% 65% 66% 67% 68% 69% 70% 71% 72% 73% 74% 75% 76% 77% 78% 79% 80% 81% 82% 83% 84% 85% 86% 87% 88% 89% 90% 91% 92% 93% 94% 95% 96% 97% 98% 99%  OK
All OK

# Preprocess

In [3]:
df_ratings = pd.read_csv('rating.csv').head(10**6)
print("🛑 shape of rating dataset: "+ str(df_ratings.shape))
print("\n🛑 columns of rating dataset: "+ str(df_ratings.columns))
print("\n🛑 info of rating dataset: ")
print(df_ratings.info())
df_ratings.head()

🛑 shape of rating dataset: (1000000, 3)

🛑 columns of rating dataset: Index(['user_id', 'anime_id', 'rating'], dtype='object')

🛑 info of rating dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   user_id   1000000 non-null  int64
 1   anime_id  1000000 non-null  int64
 2   rating    1000000 non-null  int64
dtypes: int64(3)
memory usage: 22.9 MB
None

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [4]:
df_movies = pd.read_csv('anime.csv')
print("🛑 shape of movies dataset: "+ str(df_movies.shape))
print("\n🛑 columns of movies dataset: "+ str(df_movies.columns))
print("\n🛑 info of movies dataset: ")
print(df_movies.info())
df_movies.head()

🛑 shape of movies dataset: (12294, 7)

🛑 columns of movies dataset: Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')

🛑 info of movies dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
# Import the numpy library
import numpy as np
# Function to convert to desired type manually
def to_int(x):
  try:
    x = int(x)
  except:
    x = np.nan
  return x

def to_str(x):
  try:
    x = str(x.decode()).replace("'","")
  except:
    x = np.nan
  return x

# Apply the to_int function to all values in the anime_id, user_id
# To convet object type to int type
df_movies['anime_id'] = df_movies['anime_id'].apply(to_int)

df_ratings['anime_id'] = df_ratings['anime_id'].apply(to_int)
df_ratings['user_id'] = df_ratings['user_id'].apply(to_int)

# Try converting to int using pandas astype
df_movies['anime_id'] = df_movies['anime_id'].astype('int')

df_ratings['anime_id'] = df_ratings['anime_id'].astype('int')
df_ratings['user_id'] = df_ratings['user_id'].astype('int')

# Apply the to_str function to all values in the movie_title, user_occupation_text columns
# To convet object type to str type
# df_movies['name'] = df_movies['name'].apply(to_str)
# df_movies['genre'] = df_movies['genre'].apply(to_str)

# # Try converting to str using pandas astype
# df_movies['name'] = df_movies['name'].astype('str')
# df_movies['genre'] = df_movies['genre'].astype('str')

In [6]:
print(df_ratings.info())
df_ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   user_id   1000000 non-null  int64
 1   anime_id  1000000 non-null  int64
 2   rating    1000000 non-null  int64
dtypes: int64(3)
memory usage: 22.9 MB
None

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [7]:
print(df_movies.info())
df_movies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB
None

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

# Collaborative Filtering

## Define collab dataset

In [8]:
df_collab = pd.DataFrame({'user_id':df_ratings['user_id'],'movie_id':df_ratings['anime_id'],'rating':df_ratings['rating']})
df_collab

        user_id  movie_id  rating
0             1        20      -1
1             1        24      -1
2             1        79      -1
3             1       226      -1
4             1       241      -1
...         ...       ...     ...
999995     9358     28999      -1
999996     9358     29067      -1
999997     9358     29093      -1
999998     9358     29095      -1
999999     9358     29101      -1

[1000000 rows x 3 columns]

## Collaborative model

In [9]:
# Build the ratings matrix using pivot_table function
r_matrix = df_collab.pivot_table(values='rating', index='user_id', columns='movie_id')
print(r_matrix.shape)
r_matrix

(9358, 8322)

movie_id,1,5,6,7,8,15,16,17,18,19,...,34048,34085,34103,34107,34136,34173,34240,34283,34324,34325
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,8.0,NaN,NaN,6.0,NaN,6.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Create a dummy ratings matrix with all null values inputed to 0
r_matrix_dummy = r_matrix.copy().fillna(0)
r_matrix_dummy

movie_id,1,5,6,7,8,15,16,17,18,19,...,34048,34085,34103,34107,34136,34173,34240,34283,34324,34325
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,8.0,0.0,0.0,6.0,0.0,6.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Import cosine_score
from sklearn.metrics.pairwise import cosine_similarity
# Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy)
# Convert into pandas dataframe
cosine_sim = pd.DataFrame(cosine_sim)
cosine_sim

,0,1,2,3,4,5,6,7,8,9,...,9348,9349,9350,9351,9352,9353,9354,9355,9356,9357
0,1.000000,-0.042258,0.016134,0.011837,-0.060595,0.007016,-0.066638,0.045116,0.000000,0.216789,...,-0.011915,0.098550,-0.010092,0.032612,-0.021776,0.000000,-0.091846,-0.057260,0.038173,0.075787
1,-0.042258,1.000000,0.133682,0.000000,-0.007448,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-0.025259,0.000000,-0.004374,0.000000,0.000000,-0.048840
2,0.016134,0.133682,1.000000,-0.161016,0.204384,-0.066587,0.152052,0.074122,0.000000,0.178472,...,0.071993,0.184949,0.219124,0.131801,0.170944,0.000000,0.195035,0.000000,0.194891,-0.228426
3,0.011837,0.000000,-0.161016,1.000000,-0.162989,0.068394,-0.122295,-0.141863,0.000000,-0.059407,...,-0.023229,-0.188592,-0.155015,-0.060552,-0.161990,-0.113607,-0.189912,0.000000,-0.058572,0.205210
4,-0.060595,-0.007448,0.204384,-0.162989,1.000000,-0.063377,0.242712,0.046170,0.028208,-0.005754,...,0.116289,0.139594,0.142094,0.091204,0.086100,0.007703,0.246318,0.029435,0.037378,-0.274568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9353,0.000000,0.000000,0.000000,-0.113607,0.007703,0.000000,0.037308,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.051184,0.000000,0.142478,0.000000
9354,-0.091846,-0.004374,0.195035,-0.189912,0.246318,-0.099601,0.316961,0.171731,0.050488,0.082266,...,0.058671,0.326586,0.208245,0.160714,0.245224,0.051184,1.000000,0.084670,0.145664,-0.444841
9355,-0.057260,0.000000,0.000000,0.000000,0.029435,0.000000,0.109912,0.137249,0.000000,0.000000,...,0.000000,0.063353,0.067295,0.104612,0.114088,0.000000,0.084670,1.000000,0.000000,-0.088238
9356,0.038173,0.000000,0.194891,-0.058572,0.037378,-0.110282,0.068785,-0.007625,0.000000,-0.042574,...,0.110981,0.209770,0.109488,0.058892,-0.004670,0.142478,0.145664,0.000000,1.000000,-0.116425
9357,0.075787,-0.048840,-0.228426,0.205210,-0.274568,0.121638,-0.270628,-0.127833,-0.049326,-0.075468,...,-0.088134,-0.285797,-0.196165,-0.133076,-0.185442,0.000000,-0.444841,-0.088238,-0.116425,1.000000

In [12]:
def user_wmean(user_id, movie_id):
  # Check if movie_id exists in r_matrix
  if movie_id in r_matrix:
    # Get the similarity scores for the user in question with every other user
    sim_scores = cosine_sim[user_id]
    # Get the user ratings for the movie in question
    m_ratings = r_matrix[movie_id].reset_index()[movie_id]
    # Extract the indices containing NaN in the m_ratings series
    idx = m_ratings[m_ratings.isnull()].index
    # Drop the NaN values from the m_ratings Series
    m_ratings = m_ratings.dropna()
    # Drop the corresponding cosine scores from the sim_scores series
    sim_scores = sim_scores.drop(idx)
    # Compute the final weighted mean
    if sim_scores.sum() < 5:
      wmean_rating = 0
    else:
      wmean_rating = float("%.2f" %(np.divide(np.dot(sim_scores, m_ratings),sim_scores.sum())))

  else:
    # Default to a rating of 3.0 in the absence of any information
    wmean_rating = 3.0
  return wmean_rating

In [13]:
print("Please enter user_id:")
user_id = int(input())
print(f"\nThe top 10 recommended movies for user {user_id} \n")

us = cosine_sim[user_id].sort_values(ascending=False).reset_index().loc[1]
rate = [[],[]]
for i in r_matrix.loc[us['index']].index:
    rate[0].append(i)
    rate[1].append(user_wmean(us['index'],i))
id_to_index = df_movies.reset_index().set_index('anime_id')
id_to_index.loc[rate[0]]['genre']
scores = pd.DataFrame({'genre':id_to_index.loc[rate[0]]['genre'],'name':id_to_index.loc[rate[0]]['name'],'rating':rate[1]}).sort_values(by='rating', ascending=False)[0:10]
scores

Please enter user_id:
10

The top 10 recommended movies for user 10

,genre,name,rating
anime_id,,,
4181,"Drama, Fantasy, Romance, Slice of Life, Supern...",Clannad: After Story,9.65
5114,"Action, Adventure, Drama, Fantasy, Magic, Mili...",Fullmetal Alchemist: Brotherhood,9.62
10153,"Action, Comedy, Drama, Magic, Super Power",Mahou Shoujo Lyrical Nanoha: The Movie 2nd A&#...,9.52
820,"Drama, Military, Sci-Fi, Space",Ginga Eiyuu Densetsu,9.49
28977,"Action, Comedy, Historical, Parody, Samurai, S...",Gintama°,9.49
918,"Action, Comedy, Historical, Parody, Samurai, S...",Gintama,9.47
2904,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",Code Geass: Hangyaku no Lelouch R2,9.43
9253,"Sci-Fi, Thriller",Steins;Gate,9.43
11061,"Action, Adventure, Shounen, Super Power",Hunter x Hunter (2011),9.40
2001,"Action, Adventure, Comedy, Mecha, Sci-Fi",Tengen Toppa Gurren Lagann,9.39

## Evaluate Model

###Split dataset

In [14]:
# Import the train_test_split function
from sklearn.model_selection import train_test_split
# Assign X as the original ratings dataframe and y as the user_id column of df_ratings
X = df_collab.copy()
y = df_collab['user_id']
# Split into training and test datasets, stratified along user_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

###Define score function

In [15]:
# Import the mean_squared_error function
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# Function that computes the root mean squared error (or RMSE)
def rmse(y_true, y_pred):
  return np.sqrt(mean_squared_error(y_true, y_pred))
# Function to compute the RMSE score obtained on the testing set by a model
def score(cf_model):
  # Construct a list of user-movie tuples from the testing dataset
  id_pairs = zip(X_test['user_id'], X_test['movie_id'])
  # Predict the rating for every user-movie tuple
  y_pred = np.array([cf_model(user, movie) for (user, movie) in
  id_pairs])
  # Extract the actual ratings given by the users in the test data
  y_true = np.array(X_test['rating'])
  # Return the final RMSE score
  return (r2_score(y_true, y_pred),mean_squared_error(y_true, y_pred))

###Create rating matrix

In [16]:
# Build the ratings matrix using pivot_table function
r_matrix = X_train.pivot_table(values='rating', index='user_id',columns='movie_id')
print(r_matrix.shape)
r_matrix

(9255, 8033)

movie_id,1,5,6,7,8,15,16,17,18,19,...,34015,34048,34085,34103,34107,34136,34240,34283,34324,34325
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,8.0,NaN,NaN,6.0,NaN,6.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###Mean

In [17]:
# Mean
# The rating of each user is assigned equal weight

# User Based Collaborative Filter using Mean Ratings
def cf_user_mean(user_id, movie_id):
  # Check if movie_id exists in r_matrix
  if movie_id in r_matrix:
  # Compute the mean of all the ratings given to the movie
    mean_rating = r_matrix[movie_id].mean()
  else:
  # Default to a rating of 3.0 in the absence of any information
    mean_rating = 3.0
  return mean_rating
# Compute R2 and RMSE for the Mean model
R2, RMSE = (score(cf_user_mean))

print(f"R2 score : {R2}")
print(f"RMSE score :{RMSE}")

R2 score : 0.0368401245908595
RMSE score :13.164701514000066

###Weighted Mean

In [18]:
# Create a dummy ratings matrix with all null values imputed to 0
r_matrix_dummy = r_matrix.copy().fillna(0)
# Import cosine_score
from sklearn.metrics.pairwise import cosine_similarity
# Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy)
# Convert into pandas dataframe
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index,columns=r_matrix.index)
cosine_sim

user_id,1,2,3,4,5,6,7,8,9,10,...,9349,9350,9351,9352,9353,9354,9355,9356,9357,9358
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.000000,0.008432,-0.043660,-0.067696,0.088157,-0.131188,0.123939,0.000000,0.361071,...,-0.018385,0.058214,0.074633,0.061072,0.002641,0.000000,-0.078788,-0.051215,-0.099592,0.140737
2,0.000000,1.000000,0.145799,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,-0.028926,0.000000,-0.005046,0.000000,0.000000,-0.057944
3,0.008432,0.145799,1.000000,-0.177398,0.130485,-0.039674,0.119577,0.086973,0.000000,0.153610,...,0.090303,0.158155,0.123812,0.079591,0.184973,0.000000,0.152656,0.000000,0.125407,-0.189577
4,-0.043660,0.000000,-0.177398,1.000000,-0.129744,0.029348,-0.095759,-0.134271,0.000000,-0.094976,...,-0.029379,-0.180047,-0.148102,-0.027568,-0.135995,-0.152499,-0.150992,0.000000,-0.041158,0.169562
5,-0.067696,0.000000,0.130485,-0.129744,1.000000,-0.063793,0.186299,0.018241,0.033148,-0.011182,...,0.119202,0.109254,0.113519,0.061720,0.071862,0.011049,0.176408,0.009883,0.032803,-0.215320
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9354,0.000000,0.000000,0.000000,-0.152499,0.011049,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.036401,0.000000,0.000000,0.000000
9355,-0.078788,-0.005046,0.152656,-0.150992,0.176408,-0.065851,0.193054,0.116717,0.058242,0.080481,...,0.044180,0.256789,0.150525,0.108710,0.217272,0.036401,1.000000,0.097675,0.082525,-0.325926
9356,-0.051215,0.000000,0.000000,0.000000,0.009883,0.000000,0.129025,0.147660,0.000000,0.000000,...,0.000000,0.073333,0.080007,0.121268,0.068761,0.000000,0.097675,1.000000,0.000000,-0.078514
9357,-0.099592,0.000000,0.125407,-0.041158,0.032803,-0.051941,0.018576,-0.009901,0.000000,-0.044357,...,0.096286,0.133261,-0.011496,0.037948,-0.035503,0.000000,0.082525,0.000000,1.000000,-0.078971
9358,0.140737,-0.057944,-0.189577,0.169562,-0.215320,0.067574,-0.218992,-0.072995,-0.058521,-0.036447,...,-0.078917,-0.203438,-0.151058,-0.085691,-0.132268,0.000000,-0.325926,-0.078514,-0.078971,1.000000

In [19]:
# Weighted Mean                         #time :7m42s
# we need to avoid all users that have not rated movie m
# User Based Collaborative Filter using Weighted Mean Ratings
def cf_user_wmean(user_id, movie_id):
  try:
    # Check if movie_id exists in r_matrix
    if movie_id in r_matrix:
      # Get the similarity scores for the user in question with every other user
      sim_scores = cosine_sim[user_id]
      # Get the user ratings for the movie in question
      m_ratings = r_matrix[movie_id]
      # Extract the indices containing NaN in the m_ratings series
      idx = m_ratings[m_ratings.isnull()].index
      # Drop the NaN values from the m_ratings Series
      m_ratings = m_ratings.dropna()
      # Drop the corresponding cosine scores from the sim_scores series
      sim_scores = sim_scores.drop(idx)
      # Compute the final weighted mean
      if sim_scores.sum() < 5:
        wmean_rating = 0
      else:
        wmean_rating = float("%.2f" %(np.divide(np.dot(sim_scores, m_ratings),sim_scores.sum())))

    else:
      # Default to a rating of 3.0 in the absence of any information
      wmean_rating = 3.0

  except:
      wmean_rating = 3.0

  return wmean_rating


# Compute R2 and RMSE for the WeightedMean model
R2, RMSE = (score(cf_user_wmean))

print(f"R2 score : {R2}")
print(f"RMSE score :{RMSE}")

R2 score : 0.26184523066744403
RMSE score :10.0892774476

# Content-based Recommendation

## Content-based Model

In [20]:
df_c = pd.DataFrame({'user_id':df_ratings['user_id'],'movie_id':df_ratings['anime_id']}).sort_values(by='user_id').reset_index()
df_c.drop(columns='index')

        user_id  movie_id
0             1        20
1             1     14967
2             1     15117
3             1     15437
4             1     15451
...         ...       ...
999995     9358     10216
999996     9358     10187
999997     9358     10163
999998     9358     10490
999999     9358     29101

[1000000 rows x 2 columns]

In [21]:
movies_id=[]
for i in (np.unique(df_c['user_id'])):
  movie_id = np.unique(df_c.loc[df_c['user_id'] == i]['movie_id'])
  movies_id.append(movie_id)
user_id = np.unique(df_c['user_id'])

In [22]:
df_user_movie = pd.DataFrame({'user_id':user_id,'movie_id':movies_id})
df_user_movie

      user_id                                           movie_id
0           1  [20, 24, 79, 226, 241, 355, 356, 442, 487, 846...
1           2                              [11771, 12189, 16417]
2           3  [20, 154, 170, 199, 225, 341, 430, 527, 552, 8...
3           4  [6, 72, 121, 150, 166, 205, 226, 857, 1292, 14...
4           5  [6, 15, 17, 18, 20, 22, 24, 30, 45, 47, 57, 63...
...       ...                                                ...
9353     9354                                       [2167, 6347]
9354     9355  [24, 25, 30, 48, 58, 59, 63, 71, 79, 101, 109,...
9355     9356                [15583, 18897, 19163, 27787, 31442]
9356     9357  [322, 877, 1535, 2167, 2923, 3092, 4181, 4224,...
9357     9358  [30, 68, 121, 205, 226, 227, 268, 269, 270, 35...

[9358 rows x 2 columns]

In [23]:
query = df_movies.drop(columns=['name','anime_id'])
query

,genre,type,episodes,rating,members
0,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,"Sci-Fi, Thriller",TV,24,9.17,673572
4,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...
12289,Hentai,OVA,1,4.15,211
12290,Hentai,OVA,1,4.28,183
12291,Hentai,OVA,4,4.88,219
12292,Hentai,OVA,1,4.98,175
12293,Hentai,Movie,1,5.46,142

In [24]:
# assing unique codes for every genre
unique_genres = set()
query.dropna(subset=['genre'], inplace=True)
# assing unique codes for every genre
unique_genres = set()
for index, row in query.iterrows():
    genres = row['genre'].split(',')
    for genre in genres:
        unique_genres.add(genre.strip())

genre_list = list(unique_genres)
genre_dict = {}
for i, genre in enumerate(genre_list):
    genre_dict[genre] = i

query['genre'] = query['genre'].str.split(',').apply(lambda x: [genre_dict[g.strip()] for g in x])
query

                             genre   type episodes  rating  members
0                  [40, 15, 7, 33]  Movie        1    9.37   200630
1      [35, 18, 40, 16, 27, 31, 6]     TV       64    9.26   793665
2      [35, 13, 17, 34, 12, 11, 6]     TV       51    9.25   114262
3                          [11, 8]     TV       24    9.17   673572
4      [35, 13, 17, 34, 12, 11, 6]     TV       51    9.16   151266
...                            ...    ...      ...     ...      ...
12289                         [39]    OVA        1    4.15      211
12290                         [39]    OVA        1    4.28      183
12291                         [39]    OVA        4    4.88      219
12292                         [39]    OVA        1    4.98      175
12293                         [39]  Movie        1    5.46      142

[12232 rows x 5 columns]

In [25]:
for i, _ in enumerate(query.iterrows()):
  try:
    query['genre'][i] = str(query['genre'][i]).replace('[','').replace(']','').replace(',',' ')
  except:
    pass
query

<ipython-input-25-4a740b98b97c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  query['genre'][i] = str(query['genre'][i]).replace('[','').replace(']','').replace(',',' ')

                           genre   type episodes  rating  members
0                  40  15  7  33  Movie        1    9.37   200630
1      35  18  40  16  27  31  6     TV       64    9.26   793665
2      35  13  17  34  12  11  6     TV       51    9.25   114262
3                          11  8     TV       24    9.17   673572
4      35  13  17  34  12  11  6     TV       51    9.16   151266
...                          ...    ...      ...     ...      ...
12289                       [39]    OVA        1    4.15      211
12290                       [39]    OVA        1    4.28      183
12291                       [39]    OVA        4    4.88      219
12292                       [39]    OVA        1    4.98      175
12293                       [39]  Movie        1    5.46      142

[12232 rows x 5 columns]

In [26]:
import itertools
movie_genres=[]
for i in (np.unique(df_c['user_id'])):
    movie_id = np.unique(df_c.loc[df_c['user_id'] == i]['movie_id'])
    movie_id = [movie_id[i] for i in range(len(movie_id)) if movie_id[i] <= len(df_movies['genre'])-1]
    # print(df_movies['genre'].iloc[[1, 2]])
    movie_genre = df_movies['genre'].iloc[movie_id]
    flat_list = itertools.chain(movie_genre)
    movie_genres.append(str(list(flat_list)).replace(',',' ').replace('[',' ').replace(']','').replace("'",''))

In [27]:
df_con = pd.DataFrame({'genre':movie_genres},index=user_id)
df_con

                                                  genre
1      Comedy  Drama  Shounen  Sports  Action  Adven...
2                        Hentai  Comedy  Hentai  Parody
3      Comedy  Drama  Shounen  Sports  Action  Drama...
4      Action  Adventure  Shounen  Super Power  Come...
5      Action  Adventure  Shounen  Super Power  Adve...
...                                                 ...
9354   Comedy  Drama  Fantasy  Mystery  Shounen  Sup...
9355   Action  Adventure  Fantasy  Comedy  Mystery  ...
9356
9357   Adventure  Comedy  Drama  Fantasy  Magic  Rom...
9358   Comedy  Drama  School  Shounen  Slice of Life...

[9358 rows x 1 columns]

In [28]:
Alldata = pd.DataFrame(query.append(df_con))
Alldata = Alldata.reset_index().drop('index', axis=1)
Alldata = Alldata[12232:]

<ipython-input-28-c071139dd0b0>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Alldata = pd.DataFrame(query.append(df_con))

In [29]:
Alldata['genre']  # Movies

12232     Comedy  Drama  Shounen  Sports  Action  Adven...
12233                       Hentai  Comedy  Hentai  Parody
12234     Comedy  Drama  Shounen  Sports  Action  Drama...
12235     Action  Adventure  Shounen  Super Power  Come...
12236     Action  Adventure  Shounen  Super Power  Adve...
                               ...
21585     Comedy  Drama  Fantasy  Mystery  Shounen  Sup...
21586     Action  Adventure  Fantasy  Comedy  Mystery  ...
21587
21588     Adventure  Comedy  Drama  Fantasy  Magic  Rom...
21589     Comedy  Drama  School  Shounen  Slice of Life...
Name: genre, Length: 9358, dtype: object

In [30]:
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

tr_idf_model  = TfidfVectorizer(lowercase=False,token_pattern=r"(?u)\b\w\w*\b")
tf_idf_vector = tr_idf_model.fit_transform(Alldata['genre'])
tr_idf_model.get_feature_names_out()
print(type(tf_idf_vector), tf_idf_vector.shape)
tf_idf_array = tf_idf_vector.toarray()
print(tf_idf_array)
words_set = tr_idf_model.get_feature_names_out()
print(words_set)
df_tf_idf = pd.DataFrame(tf_idf_array, columns = words_set)
df_tf_idf

<class 'scipy.sparse._csr.csr_matrix'> (9358, 48)
[[0.3179392  0.24370373 0.         ... 0.         0.03654472 0.19383611]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.10742653 0.21958283 0.06661141 ... 0.         0.         0.21831366]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.22299193 0.17092565 0.13826944 ... 0.14319935 0.         0.22658361]
 [0.29531833 0.19062282 0.02891313 ... 0.05988802 0.01786559 0.19741774]]
['Action' 'Adventure' 'Ai' 'Arts' 'Cars' 'Comedy' 'Dementia' 'Demons'
 'Drama' 'Ecchi' 'Fantasy' 'Fi' 'Game' 'Harem' 'Hentai' 'Historical'
 'Horror' 'Josei' 'Kids' 'Life' 'Magic' 'Martial' 'Mecha' 'Military'
 'Music' 'Mystery' 'Parody' 'Police' 'Power' 'Psychological' 'Romance'
 'Samurai' 'School' 'Sci' 'Seinen' 'Shoujo' 'Shounen' 'Slice' 'Space'
 'Sports' 'Super' 'Supernatural' 'Thriller' 'Vampire' 'Yaoi' 'Yuri' 'nan'
 'of']

,Action,Adventure,Ai,Arts,Cars,Comedy,Dementia,Demons,Drama,Ecchi,...,Space,Sports,Super,Supernatural,Thriller,Vampire,Yaoi,Yuri,nan,of
0,0.317939,0.243704,0.000000,0.025258,0.069462,0.480098,0.053448,0.061853,0.297961,0.065423,...,0.044556,0.073768,0.122088,0.122452,0.000000,0.027784,0.0,0.000000,0.036545,0.193836
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.303162,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
2,0.107427,0.219583,0.066611,0.000000,0.000000,0.340133,0.090296,0.034832,0.397407,0.000000,...,0.075274,0.062312,0.000000,0.118213,0.039052,0.000000,0.0,0.000000,0.000000,0.218314
3,0.305807,0.173633,0.084276,0.053987,0.000000,0.463433,0.000000,0.044069,0.234636,0.046612,...,0.000000,0.078837,0.043492,0.112171,0.000000,0.059387,0.0,0.000000,0.000000,0.310732
4,0.324483,0.304738,0.021751,0.013934,0.038320,0.461359,0.036857,0.017061,0.341728,0.048122,...,0.055305,0.076304,0.044901,0.110980,0.031880,0.022992,0.0,0.011263,0.030241,0.169310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9353,0.000000,0.000000,0.000000,0.000000,0.000000,0.309467,0.000000,0.000000,0.313366,0.000000,...,0.000000,0.000000,0.406600,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
9354,0.265941,0.254069,0.028678,0.027557,0.000000,0.473108,0.019438,0.074982,0.256644,0.039654,...,0.032408,0.046948,0.066600,0.139960,0.033626,0.020209,0.0,0.029701,0.013290,0.164484
9355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
9356,0.222992,0.170926,0.138269,0.000000,0.000000,0.380173,0.093717,0.144606,0.274974,0.000000,...,0.000000,0.000000,0.142714,0.000000,0.000000,0.000000,0.0,0.143199,0.000000,0.226584
9357,0.295318,0.190623,0.028913,0.037043,0.000000,0.454268,0.039194,0.020159,0.260662,0.074627,...,0.054455,0.081141,0.049738,0.102623,0.000000,0.027166,0.0,0.059888,0.017866,0.197418

In [31]:
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel
# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tf_idf_array, tf_idf_array)
cosine_sim.shape

(9358, 9358)

In [32]:
sim = pd.DataFrame(cosine_sim)
sim

,0,1,2,3,4,5,6,7,8,9,...,9348,9349,9350,9351,9352,9353,9354,9355,9356,9357
0,1.000000,0.307158,0.872908,0.870931,0.957898,0.902554,0.951372,0.678879,0.388745,0.665664,...,0.648365,0.869373,0.790049,0.516046,0.901694,0.526162,0.959910,0.0,0.826989,0.962052
1,0.307158,1.000000,0.305789,0.198604,0.255029,0.327647,0.285583,0.338645,0.000000,0.200032,...,0.188826,0.294875,0.177842,0.622431,0.333335,0.093819,0.322024,0.0,0.373274,0.401317
2,0.872908,0.305789,1.000000,0.823544,0.897913,0.838604,0.888342,0.602867,0.252766,0.761612,...,0.490938,0.895694,0.866658,0.582844,0.901625,0.510611,0.908932,0.0,0.838318,0.911164
3,0.870931,0.198604,0.823544,1.000000,0.882383,0.770962,0.830415,0.428909,0.396413,0.653971,...,0.622547,0.895248,0.787182,0.407975,0.872560,0.491628,0.841612,0.0,0.843670,0.869954
4,0.957898,0.255029,0.897913,0.882383,1.000000,0.919751,0.975039,0.618910,0.494993,0.699865,...,0.688933,0.870751,0.801634,0.498118,0.900497,0.506637,0.972203,0.0,0.825000,0.951016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9353,0.526162,0.093819,0.510611,0.491628,0.506637,0.418612,0.493767,0.486763,0.189627,0.384619,...,0.481173,0.398811,0.389007,0.386822,0.440357,1.000000,0.488231,0.0,0.480480,0.467580
9354,0.959910,0.322024,0.908932,0.841612,0.972203,0.942424,0.979947,0.673007,0.385060,0.676955,...,0.669814,0.865988,0.806161,0.517967,0.895809,0.488231,1.000000,0.0,0.845962,0.967502
9355,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
9356,0.826989,0.373274,0.838318,0.843670,0.825000,0.806312,0.837629,0.553388,0.259341,0.716532,...,0.528757,0.849901,0.802327,0.506484,0.839976,0.480480,0.845962,0.0,1.000000,0.871326
9357,0.962052,0.401317,0.911164,0.869954,0.951016,0.899170,0.962564,0.644083,0.376044,0.719955,...,0.661587,0.901027,0.831090,0.585994,0.937207,0.467580,0.967502,0.0,0.871326,1.000000

In [33]:
df_user_movie

      user_id                                           movie_id
0           1  [20, 24, 79, 226, 241, 355, 356, 442, 487, 846...
1           2                              [11771, 12189, 16417]
2           3  [20, 154, 170, 199, 225, 341, 430, 527, 552, 8...
3           4  [6, 72, 121, 150, 166, 205, 226, 857, 1292, 14...
4           5  [6, 15, 17, 18, 20, 22, 24, 30, 45, 47, 57, 63...
...       ...                                                ...
9353     9354                                       [2167, 6347]
9354     9355  [24, 25, 30, 48, 58, 59, 63, 71, 79, 101, 109,...
9355     9356                [15583, 18897, 19163, 27787, 31442]
9356     9357  [322, 877, 1535, 2167, 2923, 3092, 4181, 4224,...
9357     9358  [30, 68, 121, 205, 226, 227, 268, 269, 270, 35...

[9358 rows x 2 columns]

In [34]:
print("Please enter user_id:")
user_id = int(input())
print(f"\nThe top 10 recommended movies for user {user_id} \n")

pre_movies_id = df_user_movie.loc[user_id-1]['movie_id']
id_to_index = df_movies.reset_index().set_index('anime_id')
pre_movies_index = set(id_to_index.loc[pre_movies_id]['index'])

recommended = [i for i in sim.sort_values(user_id-1,ascending=False)[user_id-1].index if i <= 3882 and i not in pre_movies_index and i!=user_id-1]
movies = df_movies.iloc[recommended[:10]][['genre','anime_id', 'name']]
movies

Please enter user_id:
1

The top 10 recommended movies for user 1

,genre,anime_id,name
2848,Music,32030,MEMORiES MELODiES
437,"Comedy, Drama, Romance, Shounen Ai",3092,Junjou Romantica
325,"Comedy, Drama, Josei, Romance",16,Hachimitsu to Clover
2591,"Comedy, Parody, School",5199,Seto no Hanayome Fan Disc
1144,"Action, Adventure, Drama, Mecha, Military, Psy...",3626,Mobile Suit Gundam Wing: Operation Meteor
2114,"Comedy, Drama, Romance, Shoujo",1516,Kirarin☆Revolution
2641,Slice of Life,15159,Fantastic Children Special
3849,"Action, Mecha, Sci-Fi",5143,Tokusou Kihei Dorvack
2049,Comedy,8134,Keroro Gunsou Movie 5: Tanjou! Kyuukyoku Keror...
269,"Action, Drama, Mecha, Military, Sci-Fi, Space",2581,Mobile Suit Gundam 00

##base on Title and Genres

In [35]:
df_content = df_movies.copy()
df_content

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [ ]:
geners = {0:'Action', 1:'Adventure', 2:'Animation', 3:'Childern', 4:'Comedy', 5:'Crime',
           6:'Documentary', 7:'Drama', 8:'Fantasy', 9:'Film-Noir', 10:'Mystery',11:'Mudical',
           12:'Mystery', 13:'Romance', 14:'Sci-Fi', 15:'Thriller', 16:'War', 17:'Western'}

for movie in range(df_content.index.stop):
  st = []
  for item in df_content['movie_genres'][movie]:
    st.append(str(item))
  df_content['movie_genres'][movie] = st

# Convert the stringified objects into the native python objects
year = []
for i in range(df_content.index.stop):
  year.append(str(df_content['movie_title'][i].split('(')[-1].replace(')','')))
  df_content['movie_title'][i] = df_content['movie_title'][i][0:-6].replace(', The','').replace(', A','')
df_content['movie_year'] = year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [ ]:
df_content

,movie_genres,movie_id,movie_title,movie_year
0,"[5, 7]",1729,Jackie Brown,1997
1,[7],1486,Quiet Room,1996
2,[4],3086,March of the Wooden Soldiers (a.k.a. Laurel & ...,1934
3,[0],2965,Omega Code,1999
4,[10],2853,"Communion (a.k.a. Alice, Sweet Alice/Holy Terr...",1977
...,...,...,...,...
3878,"[2, 3]",596,Pinocchio,1940
3879,"[7, 14]",2020,Dangerous Liaisons,1988
3880,"[2, 3, 4]",3751,Chicken Run,2000
3881,[4],3688,Porkys,1981
3882,"[4, 10]",3693,Toxic Avenger,1985

In [43]:
# Function that creates a soup out of the desired metadata

def create_soup(x):
  return ''.join(x['name']) + ' ' + ' '.join(x['genre'].split(','))

# Remove records with "NAN" genre values
df_content.dropna(subset=['genre'], inplace=True)
# Create the new soup feature
df_content['soup'] = df_content.apply(create_soup, axis=1)
# Display the soup of a random movie
df_content.iloc[1]['soup']

'Fullmetal Alchemist: Brotherhood Action  Adventure  Drama  Fantasy  Magic  Military  Shounen'

In [44]:
# Define a new CountVectorizer object and create vectors for the soup
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df_content['soup'])

In [45]:
#Import cosine_similarity function
from sklearn.metrics.pairwise import cosine_similarity
#Compute the cosine similarity score (equivalent to dot product for tf-idf vectors)
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [46]:
# Reset index of your df and construct reverse mapping again
df_content = df_content.reset_index()
indices2 = pd.Series(df_content.index, index=df_content['soup'])

In [47]:
df_content

,index,anime_id,name,genre,type,episodes,rating,members,soup
0,0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,Kimi no Na wa. Drama Romance School Superna...
1,1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,Fullmetal Alchemist: Brotherhood Action Adven...
2,2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,Gintama° Action Comedy Historical Parody S...
3,3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,Steins;Gate Sci-Fi Thriller
4,4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,Gintama&#039; Action Comedy Historical Paro...
...,...,...,...,...,...,...,...,...,...
12227,12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211,Toushindai My Lover: Minami tai Mecha-Minami H...
12228,12290,5543,Under World,Hentai,OVA,1,4.28,183,Under World Hentai
12229,12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219,Violence Gekiga David no Hoshi Hentai
12230,12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175,Violence Gekiga Shin David no Hoshi: Inma Dens...
12231,12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142,Yasuji no Pornorama: Yacchimae!! Hentai

In [48]:
indices2

soup
Kimi no Na wa. Drama  Romance  School  Supernatural                                                 0
Fullmetal Alchemist: Brotherhood Action  Adventure  Drama  Fantasy  Magic  Military  Shounen        1
Gintama° Action  Comedy  Historical  Parody  Samurai  Sci-Fi  Shounen                               2
Steins;Gate Sci-Fi  Thriller                                                                        3
Gintama&#039; Action  Comedy  Historical  Parody  Samurai  Sci-Fi  Shounen                          4
                                                                                                ...
Toushindai My Lover: Minami tai Mecha-Minami Hentai                                             12227
Under World Hentai                                                                              12228
Violence Gekiga David no Hoshi Hentai                                                           12229
Violence Gekiga Shin David no Hoshi: Inma Densetsu Hentai                                       12230
Yasuji no Pornorama: Yacchimae!! Hentai                                                         12231
Length: 12232, dtype: int64

In [51]:
def content_recommender(title, cosine_sim=cosine_sim, df=df_content, indices=indices2):
  # Obtain the index of the movie that matches the title
  idx = indices[title]
  # Get the pairwsie similarity scores of all movies with that movie
  # And convert it into a list of tuples as described above
  sim_scores = list(enumerate(cosine_sim[idx]))
  # Sort the movies based on the cosine similarity scores
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  # Get the scores of the 10 most similar movies. Ignore the first movie.
  sim_scores = sim_scores[1:11]
  # Get the movie indices
  movie_indices = [i[0] for i in sim_scores]
  # Return the top 10 most similar movies
  return df_content['name'].iloc[movie_indices]

recommend_movies = content_recommender(indices2[0], cosine_sim2, df_content, indices2)

In [52]:
for i in recommend_movies.index:
    print(df_content.iloc[i])
    print("\n")

index                                          1907
anime_id                                       2926
name                               Myself; Yourself
genre                        Drama, Romance, School
type                                             TV
episodes                                         13
rating                                         7.41
members                                      115075
soup        Myself; Yourself Drama  Romance  School
Name: 1907, dtype: object


index                                                      16
anime_id                                                23273
name                                  Shigatsu wa Kimi no Uso
genre                  Drama, Music, Romance, School, Shounen
type                                                       TV
episodes                                                   22
rating                                                   8.92
members                                                416397
soup        Shigatsu wa Kimi no Uso Drama  Music  Romance ...
Name: 16, dtype: object


index                                       1494
anime_id                                   20903
name                                    Harmonie
genre                Drama, School, Supernatural
type                                       Movie
episodes                                       1
rating                                      7.52
members                                    29029
soup        Harmonie Drama  School  Supernatural
Name: 1494, dtype: object


index                                                    3914
anime_id                                                17585
name                               Myself ; Yourself Specials
genre                                  Drama, Romance, School
type                                                  Special
episodes                                                    2
rating                                                   6.85
members                                                  4128
soup        Myself ; Yourself Specials Drama  Romance  School
Name: 3912, dtype: object


index                                                    2845
anime_id                                                29785
name                                      Jitsu wa Watashi wa
genre       Comedy, Fantasy, Romance, School, Shounen, Sup...
type                                                       TV
episodes                                                   13
rating                                                   7.15
members                                                 88500
soup        Jitsu wa Watashi wa Comedy  Fantasy  Romance  ...
Name: 2844, dtype: object


index                                                     223
anime_id                                                 2167
name                                                  Clannad
genre       Comedy, Drama, Romance, School, Slice of Life,...
type                                                       TV
episodes                                                   23
rating                                                    8.3
members                                                566690
soup        Clannad Comedy  Drama  Romance  School  Slice ...
Name: 223, dtype: object


index                                                     986
anime_id                                                  355
name                                        Shakugan no Shana
genre       Action, Drama, Fantasy, Romance, School, Super...
type                                                       TV
episodes                                                   24
rating                                                   7.74
members                                                297058
soup        Shakugan no Shana Action  Drama  Fantasy  Roma...
Name: 986, dtype: object


index                                                    1604
anime_id                                                 6572
name                                      Shakugan no Shana S
genre       Action, Drama, Fantasy, Romance, School, Super...
type                                                      OVA
episodes                                                    4
rating                                                   7.49
members                                                 53129
soup        Shakugan no Shana S Action  Drama  Fantasy  Ro...
Name: 1604, dtype: object


index                                                    5805
anime_id                                                  547
name                              Wind: A Breath of Heart OVA
genre                    Drama, Romance, School, Supernatural
type                                                      OVA
episodes                                                    3
rating                                                   6.35
members                                                  2043
soup        Wind: A Breath of Heart OVA Drama  Romance  Sc...
Name: 5803, dtype: object


index                                         6156
anime_id                                       756
name                               School Days ONA
genre                       Drama, Romance, School
type                                           ONA
episodes                                         1
rating                                        6.24
members                                      21104
soup        School Days ONA Drama  Romance  School
Name: 6153, dtype: object

##base on Title

In [53]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
punc = "”’!()-[]{};:'”, ./?@#$%^&*_~”’"
i = 0
for text in df_content['name']:

  text_tokens = word_tokenize(str.lower(text[0:-6]))

  tokens_without_sw = [word for word in text_tokens if not word in punc]

  df_content['name'][i] = (" ").join(e for e in tokens_without_sw)
  i += 1

df_content

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
<ipython-input-53-b48d7be0fdc6>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_content['name'][i] = (" ").join(e for e in tokens_without_sw)

,index,anime_id,name,genre,type,episodes,rating,members,soup
0,0,32281,kimi no,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,Kimi no Na wa. Drama Romance School Superna...
1,1,5114,fullmetal alchemist broth,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,Fullmetal Alchemist: Brotherhood Action Adven...
2,2,28977,gi,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,Gintama° Action Comedy Historical Parody S...
3,3,9253,stein,"Sci-Fi, Thriller",TV,24,9.17,673572,Steins;Gate Sci-Fi Thriller
4,4,9969,gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,Gintama&#039; Action Comedy Historical Paro...
...,...,...,...,...,...,...,...,...,...
12227,12289,9316,toushindai my lover minami tai mecha-,Hentai,OVA,1,4.15,211,Toushindai My Lover: Minami tai Mecha-Minami H...
12228,12290,5543,under,Hentai,OVA,1,4.28,183,Under World Hentai
12229,12291,5621,violence gekiga david no,Hentai,OVA,4,4.88,219,Violence Gekiga David no Hoshi Hentai
12230,12292,6133,violence gekiga shin david no hoshi inma de,Hentai,OVA,1,4.98,175,Violence Gekiga Shin David no Hoshi: Inma Dens...
12231,12293,26081,yasuji no pornorama yacch,Hentai,Movie,1,5.46,142,Yasuji no Pornorama: Yacchimae!! Hentai

In [54]:
# Function to sanitize data to prevent ambiguity.
# Removes spaces and converts to lowercase
def sanitize(x):
  if isinstance(x, list):
    #Strip spaces and convert to lowercase
    return [str.lower(i.replace(" ", "")) for i in x]
  else:
    #Check if director exists. If not, return empty string
    if isinstance(x, str):
      return str.lower(x.replace(" ", ""))
    else:
      return ''
#Apply the generate_list function to cast, keywords, director and genres
df_content['name'] = df_content['name'].apply(sanitize)
df_content

,index,anime_id,name,genre,type,episodes,rating,members,soup
0,0,32281,kimino,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,Kimi no Na wa. Drama Romance School Superna...
1,1,5114,fullmetalalchemistbroth,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,Fullmetal Alchemist: Brotherhood Action Adven...
2,2,28977,gi,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,Gintama° Action Comedy Historical Parody S...
3,3,9253,stein,"Sci-Fi, Thriller",TV,24,9.17,673572,Steins;Gate Sci-Fi Thriller
4,4,9969,gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,Gintama&#039; Action Comedy Historical Paro...
...,...,...,...,...,...,...,...,...,...
12227,12289,9316,toushindaimyloverminamitaimecha-,Hentai,OVA,1,4.15,211,Toushindai My Lover: Minami tai Mecha-Minami H...
12228,12290,5543,under,Hentai,OVA,1,4.28,183,Under World Hentai
12229,12291,5621,violencegekigadavidno,Hentai,OVA,4,4.88,219,Violence Gekiga David no Hoshi Hentai
12230,12292,6133,violencegekigashindavidnohoshiinmade,Hentai,OVA,1,4.98,175,Violence Gekiga Shin David no Hoshi: Inma Dens...
12231,12293,26081,yasujinopornoramayacch,Hentai,Movie,1,5.46,142,Yasuji no Pornorama: Yacchimae!! Hentai

In [55]:
#Import TfIdfVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer
#Define a TF-IDF Vectorizer Object. Remove all english stopwords
tfidf = TfidfVectorizer(stop_words='english')
#Replace NaN with an empty string
df_content['name'] = df_content['name'].fillna('')
#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(df_content['name'])
#Output the shape of tfidf_matrix
tfidf_matrix.shape
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel
# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim.shape

(12232, 12232)

In [56]:
#Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any
indices = pd.Series(df_content.index, index=df_content['name']).drop_duplicates()
# Function that takes in movie title as input and gives recommendations
def content_recommender(title, cosine_sim=cosine_sim, df=df_content,indices=indices):
  # Obtain the index of the movie that matches the title
  idx = indices[title]
  # Get the pairwsie similarity scores of all movies with that movie
  # And convert it into a list of tuples as described above
  sim_scores = list(enumerate(cosine_sim[idx]))
  # Sort the movies based on the cosine similarity scores
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  # Get the scores of the 10 most similar movies. Ignore the first movie.
  sim_scores = sim_scores[1:11]
  # Get the movie indices
  movie_indices = [i[0] for i in sim_scores]
  # Return the top 10 most similar movies
  return df_content['name'].iloc[movie_indices]
content_recommender('kimino')

1                        fullmetalalchemistbroth
2                                             gi
3                                          stein
4                                        gintama
5     haikyuukarasunokoukouvsshiratorizawagakuen
6                                  hunterxhunter
7                                   gingaeiyuude
8          gintamamoviekanketsu-henyorozuyayoeie
9                                  gintama039enc
10                                  clannadafter
Name: name, dtype: object